<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Imani </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"> Imani </ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <a routerLink="/prescriptions">
      <ion-button>Ver mis prescripciones</ion-button>
    </a>
    <a routerLink="/leer-qr">
      <ion-button>Asistir a cita o rellenar medicamentos</ion-button>
    </a>
  </div>
  <div class="spacer"></div>
  <ion-input type="number" [value]="userId()" (input)="setValue($event)"></ion-input>
  <ion-button (click)="update()">Update</ion-button>
</ion-content>
