ion-card-subtitle {
    text-align: center;
    font-size: 1rem;
}
ion-card-title {
    font-size: 4rem;
    text-align: center;
}

ion-card-content {
    text-align: center;
    font-size: 3rem;
}

ion-icon {
    font-size: 4.5rem;
}

ion-button {
    font-size: 2rem;
    text-align: center;
    width: 100%;
}
