<ion-header>
  <ion-toolbar>
    <ion-title>Medicamentos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card class="ion-no-margin">
    <ion-img src="assets/images/header.png"></ion-img>
    <div style="margin-left: 10px; margin-right: 10px;">
      <ion-accordion-group [value]="openAccordion">
        <ion-accordion *ngFor="let prescripcion of patientPrescriptions" [value]="prescripcion.id">
          <ion-item slot="header" color="primary" class="item-background-color" (click)="toggleAccordion(prescripcion.id)">
            <ion-icon [name]="getIcon(prescripcion)" slot="start"></ion-icon>
            <ion-label>{{ prescripcion.medicamento }}</ion-label>
          </ion-item>
          <ion-grid class="ion-padding" slot="content">
            <ion-card class="ion-no-margin">
              <ion-card-header>
                <ion-card-title>{{ prescripcion.medicamento }}</ion-card-title>
              </ion-card-header>
              <ion-card-content class="text-tag">
                <p><strong>Inicio:</strong> {{ prescripcion.inicio | date: 'short'}}</p>
                <p><strong>Dosis:</strong> {{ prescripcion.cantidadPorDosis }}</p>
                <p><strong>Frecuencia:</strong> {{ prescripcion.frecuenciaDosis }}</p>
                <p><strong>Indicaciones:</strong> {{ prescripcion.indicaciones }}</p>
              </ion-card-content>
            </ion-card>
          </ion-grid>
        </ion-accordion>
      </ion-accordion-group>
    </div>
  </ion-card>
</ion-content>
